{:paths ["src" "resources"]

 :deps {com.datomic/local {:mvn/version "1.0.277"}
        }

 :aliases {;; ====
           ;  bin/kaocha datomic
           ; -------------------------------------------------------------------
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}}}